@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 class="display-4">Cowboy Cafe</h1>
    <p>We at Cowboy Cafe are proud to bring you authentic trail meals from the American West. Shake off the dust on your boots and sake your thirst with one of our old-fashioned hand-jerked sodas. Dip your Pan de Campo into a bowl of beans. Or conquer the the mighty Texas Triple Burger! You’ve had a hard ride - so take it easy with us.</p>
</div>
<div class="entrees">
    <h2>
        Entrees
    </h2>
    @foreach(CowboyCafe.Data.Entree e in CowboyCafe.Data.Menu.Entrees()) 
    {
    <p>@e</p>
    <ul style="list-style-type:none;">
        <li>Calories: @e.Calories</li>
        <li>Price: @e.Price</li>
    </ul>
    }
    
</div>
<div class="sides">
    <h2>
        Sides
    </h2>
    @foreach (CowboyCafe.Data.Side e in CowboyCafe.Data.Menu.Sides())
    {
        @foreach (CowboyCafe.Data.Size size in Enum.GetValues(typeof(CowboyCafe.Data.Size)))
        {
            CowboyCafe.Data.Menu.SideSize(e, size);
            <p>@e</p>
            <ul style="list-style-type:none;">
                <li>Calories: @e.Calories</li>
                <li>Price: @e.Price</li>
            </ul>
        }

    }

</div>
<div class="drinks">
    <h2>
        Drinks
    </h2>
    @foreach (CowboyCafe.Data.Drink e in CowboyCafe.Data.Menu.Drinks())
    {
        @foreach (CowboyCafe.Data.Size size in Enum.GetValues(typeof(CowboyCafe.Data.Size)))
        {
            CowboyCafe.Data.Menu.DrinkSize(e, size);
            <p>@e</p>
            <ul style="list-style-type:none;">
                <li>Calories: @e.Calories</li>
                <li>Price: @e.Price</li>
            </ul>
        }

    }

</div>